.product-image
{
    width: 750px;
    height: 345px;
    border-radius: 2rem;
    padding-left: 267px;
    padding-right: 100px;
    padding-top: 1  0px;
/* border: 3px solid red; */
}
.quantity-group button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #008cba;
    color: #fff;
    cursor: pointer;
    gap: 10px;
}

.quantity-group input {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
}

.product-color{

    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.product-details
{
    margin-top: 50px;
    margin-bottom: 80px;
}
h1,h5,h6,h2,h5{
    margin-bottom: 10px;
}
.quantity-group
{
    margin-top: 20px;
    padding-left: 20px;
}

.quantity-group input
{
    width: 80px;
    padding: 10px;
}
.col-sm-6{
    width: 45%;
   
    width: 700px;
    margin-right: 20px;
}
/* 
.product-details {
    margin-top: 36px;
    padding: 43px;
    padding: 20px;
    padding-left: 374px;
    padding-right: -3px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 550px;
    height: 325px;
    border-radius: 5px;
    padding-left: 135px;
    padding-right: 100px;
}

.details h1 {
    font-size: 24px;
    margin-bottom: 60px;
    color: #333;
   
}


.details h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #008cba;
}


.product-color {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}


.details h6 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
}


.details h6:last-child {
    margin-bottom: 15px;
}


.quantity-group {
    margin-top: 15px;
    gap: 20px;
}

.quantity-group button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #008cba;
    color: #fff;
    cursor: pointer;
    gap: 10px;
}


} */
