


    <div class="seller-auth">
        <div *ngIf="!showLogin" class="sign-up">
            <h1>Seller SignUp</h1>
            <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
                <input class="form-input" type="text" ngModel name="name" placeholder="Enter your Name" #Name="ngModel"
                    required Name>
                <p class="invalid-input"><span *ngIf="Name.invalid && Name.touched">Please Enter Valid Value</span></p>
                <input class="form-input" type="email" ngModel name="email" placeholder="Enter your Email"
                    #email="ngModel" required email>
                <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter Valid Value</span>
                </p>
                <input class="form-input" type="password" ngModel name="password" placeholder="Enter your Password"
                    #password="ngModel" required password>
                <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter Valid
                        Value</span></p>
                <button [disabled]="sellerSignUp.invalid" class="form-button">Sign Up</button>
                <a class="auth-toggle-link" (click)="openLogin()">Already Have Account? Click to Login</a>
            </form>
        </div>
    
        <!--Login Area-->

        <div *ngIf="showLogin" class="Login">
            <h1>Seller Login</h1>
            <p class="error-p">{{authError}}</p>
            <form #sellerlogin="ngForm" (ngSubmit)="login(sellerlogin.value)" class="common-form">

                <input class="form-input" type="email" ngModel name="email" placeholder="Enter your Email"
                    #email="ngModel" required email>
                <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter Valid Value</span>
                </p>
                <input class="form-input" type="password" ngModel name="password" placeholder="Enter your Password"
                    #password="ngModel" required password>
                <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter Valid
                        Value</span></p>
                <button [disabled]="sellerlogin.invalid" class="form-button">Login</button>
                <a class="auth-toggle-link" (click)="openSignup()">Do not Have Account? Click to Signup</a>
            </form>
        </div>

    </div>

