
<div class="search-item" *ngFor="let item of searchResult">
    <div class="col-sm-3">
        <a routerLink="/details/{{item.id}}">
            <img src="{{item.image}}" alt="Product Image">
        </a>
    </div>
    <div class="col-sm-8 details">
        <h2><a routerLink="/details/{{item.id}}">Product: {{item.name}}</a></h2>
        <p><b>Price: {{item.price}}</b>
      
        <p><span>Color: {{item.color}}</span>br
            <span>Category: {{item.category}}</span>
        </p>
        <p>Description: {{item.description}}</p>
    </div>
</div>